@page "/create"


<PageTitle>Home</PageTitle>

<h1 class="italic">Affiliations</h1>

@foreach (Array row in game)
{
    @foreach (string tile in row)
    {
        <p class="italic">@tile</p>
    }
}



@code {
    string[][] game = [["yo", "sup"], ["dude", "friend-o"]];


}